[mysqld]
# 默认认证插件，默认值为caching_sha2_password；8.0.27版本之前使用default_authentication_plugin
authentication_policy=mysql_native_password
# 设置允许数据导入、导出的位置；NULL表示禁止导出文件，为空表示可以导出到任意文件，指定路径表示只能导出到该路径下
secure_file_priv=/var/lib/mysql
# 数据库编码设置，默认值utf8mb4；同时也需要配置collation_server
character_set_server=utf8mb4
collation_server=utf8mb4_0900_ai_ci
# sql模式，定义MYSQL支持的sql语法，对数据的校验等
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION

###降低mysql内存占用
performance_schema_max_table_instances=400
table_definition_cache=400
table_open_cache=256
performance_schema=off
skip-host-cache

###解决too many connections报错问题
# show variables like "max_connections"; 查看最大连接数  默认是152
max_connections = 2500
# show global variables like 'wait_timeout'; 最大睡眠时间  默认28800秒
wait_timeout=300
# show global variables like 'interactive_timeout'; 查看mysql在关闭一个线程前要等待的秒数 默认也是28800秒
interactive_timeout=500

###禁用dns解析 解决外部访问缓慢的问题
skip-name-resolve
innodb_flush_log_at_trx_commit=0
sync_binlog=0